.grid {
	background-color: #008cba;
	padding: 0rem 0rem 0rem 0rem;
	width: 2.0rem;
	height: 2.0rem;
}

.large-12.columns {  /* applies to the div which has the both classes */
    text-align: center;
}

ul.button-group{
    display: inline-block;
    margin: 0px 0px 0px 0px;
}

button.disabled, button[disabled], .button.disabled, .button[disabled] {
	background-color: gray;
}


/*.row {
	line-height:0px;
	margin: 0px 0px 0px 0px;
    display: inline-block;
	padding: 0px 0px 0px 0px;
}

br {
	height:0px; visibility:hidden; margin-bottom:-20px;
   display: block;
}*/