.grid {
	background-color: #008cba;
	padding: 0rem 0rem 0rem 0rem;
	width: 2.0rem;
	height: 2.0rem;
}

.large-12.columns {  /* applies to the div which has the both classes */
	text-align: center;
	margin: 0px 0px 0px 0px;

}

ul.button-group{
	display: inline-block;
}

button.disabled, button[disabled], .button.disabled, .button[disabled] {
	background-color: gray;
}

.button {
	margin: 0px 0px 0px 0px;
}

#move-indicator {
	text-align: center;
}

.endBtn {
	display: none;
}
